/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Header ***********/
.head {
    display: flex;
    justify-content: space-between;        
}

.logo {
    width: 61.09px;
    height: 19px;
    display: flex;
    margin-top: auto;
}

.menu {
    display: flex;
    gap: 60px;
}

nav a {
    padding-top: 10px;
    border-top: 2px solid transparent;
}

.menu a:hover{
    color: var(--main-color);
    border-top: 2px solid var(--main-color) ;
}

/****** InfoGroupe ***********/
.Info groupe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}  

.Headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 10px;
}

.Headline h1 { 
    margin-bottom: 5px;
}

.Headline p {
    margin-top: 1px;
}

.SearchBar {
    display: flex;
    align-self: center;
    margin-bottom: 35px;
    height: 49px;

}

.SearchBar i {
    background-color: var(--main-bg-color);
    color:black;
    border-radius: 10px 0px 0px 10px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: 1px solid var(--main-bg-color);
    width: 147px;
}

.btn-search {
    background-color: var(--main-color);
    color: var(--main-bg-color);
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
    font-weight: 700;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-search .fa-magnifying-glass {
    display:none;
}
.btn-search p{
    font-size: 18px;
    }
.FilterBar {
    display: flex;
    margin-bottom: 35px;
    align-items: center;
    
}

.Filtrers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-left: 15px;
    height: 50px;
}

.FiltreItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid grey;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #d9d9d9;
    cursor: pointer;
}
.FiltreItem:hover {
    background-color: var(--filter-bg-color);
}

.InfoBar {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    gap: 10px;
}
.InfoBar i {
    color:var(--main-color);
    width: 24px;
    height: 24px;
    border: 1px solid #d9d9d9;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

article {
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    }

.hebergements-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    background-color: var(--main-bg-color);
    border-radius: 20px;
    margin-top: 33px;

}
.hebergements-cards .cards {
    display: grid;
    flex-direction: column;
    border-radius: 20px;
    background-color: white;    
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
}

.hebergements-cards img {
    width: 100%;
    height: 150px;
    border-radius: 20px 20px 0px 0px;
}

.hebergements-cards .card-content {
    width: 77%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.Afficher {
    display: flex;
    align-items: flex-start;
    font-size: 18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

a{
    text-decoration: none;
    color: black;
}

/****** Activités ***********/
.Activités{
    width: 100%;
    display: flex;
    padding-top:30px;
    gap: 15px;
    flex-direction: column;
    align-items: flex-start; 
    align-self: stretch;
}

.Activités-Marseille {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}

.Activités-cards {
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin-right: 50px;
    align-self: stretch;
}
.Activités-cards .card {
    width: 100%;
    border-radius: 20px;
    
    box-shadow: 0px 3px 15px 0px rgba(0, 0, 0, 0.10);
    
}
.Activités-cards img{
    display: flex;
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.Activités-cards .card-title {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    height: 30px;
}

/****** Footer ***********/

footer {
    display: flex;
    justify-content: space-between;
    height: auto;
    background-color: #F2F2F2;
    margin-top: 35px;
    
}
.Title-Footer {
    font-size: 18px;
    margin-bottom: auto;
}

.colonne { 
    width: 446%;
    height: 163%;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-direction: column;
    gap: 15px;
    flex: 1 0 0;
   
    
}

/* Le code ci-dessous correspond à la version responsive uniquement */




    